/*


--Group Variables --------------*/ 

/*----Colors -------------*/ 
$--green--Color      : #74D414;
$--gray--ColorText   : #3F4353;
$--footer--Color     : rgb(122, 122, 122);
$--white--color      : #FFFFFF;
$--mainColor         : #E5E5E5;
